@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.MyIcon{
  border-radius: 50%;
  max-width: 100%;
  outline: 3px solid #6e6e6e;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  transition: .5s;
  background-color: #e6e6e6;
}

.topContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:  3%;
}

.container{
  display: flex;
  align-items: normal;
  justify-content: space-around;
}

.topElement{
  margin: 4%;
}

.subtitle{
  text-align: center;
}

p{
  display: block;
  text-align: center;
}

.contact{
  display: flex;;
  align-items: center;
}

.contactIcon{
    width: 3rem;
}

.LanguageIcon{
  display: block;
}

.expressIcon{
  width: 8rem;
  margin: 8px auto 8px auto;
}

.nodeIcon{
  object-fit: cover;
  width: 8rem;
  height: 2rem;
  margin: 8px auto 8px auto;
}

.languageContent{
    display: flex;
    align-items: center;
    justify-content: left;
}

.content{
  flex: 1;
  padding: 10px;
}

.radius{
    border-radius: 5px;
    background-color: white;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 0 50px 0;
}

.timeline::after{
    content: '';
    position:absolute;
    width: 6px;
    background-color: #313131;
    top: 0;
    bottom: 0;
    left:50%;
    margin-left: auto;
}

.timeline-content{
    padding: 10px 40px;
    margin: 4rem auto 4rem auto;
    position: relative;
    background-color: white;
    border-radius: 6px;
    z-index: 1;
}

@media (max-width:1000px) {

    p{
        margin: auto;
    }

  .MyIcon{
    width: 5rem;
  }
  .name{
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
  }
  .container{
    flex-direction: column;
    margin: 0;
  }
  .contactContainer{
    margin-bottom:1rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contactIcon{
    width: 2rem;
  }

  .content{
    margin-top: 20px;
  }

  .LanguageIcon{
    display: block;
    width: 6rem;
    margin: 0 1rem 0 1rem;
  }
  .expressIcon{
    width: 6rem;
    margin: 8px 1rem 8px 1rem;
  }
  
  .nodeIcon{
    width: 6rem;
    margin: 8px 1rem 8px 1rem;
  }
}

@media (min-width:1001px) {
  body{
    max-width: 70%;
    margin: auto;
  }
  
  .MyIcon{
    width: 180px;
  }
  
  .name{
    font-size: 48px;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
  
  .subtitle{
    font-size: 55px;
  }
  
  p{
    font-size: 20px;
  }

  .content + .content{
    margin-left: 20px;
}

.container + .container{
    margin-top: 20px;
}

  .contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .languageParagraph{
    margin: auto;
  }

  .LanguageIcon{
    width: 8rem;
    margin: auto 0 auto ;
  }

  ul{
    margin: auto;
    width: 20em;
  }
}
/*

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
*/