@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.MyIcon{
  border-radius: 50%;
  max-width: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  transition: .5s;
}

.topContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topElement{
  margin: 4%;
}

.subtitle{
  text-align: center;
}

p{
  display: block;
  text-align: center;
}

.contact{
  max-width: 100%;
  width: 75px;
  margin: 1rem;
}

.LanguageIcon{
  display: block;
  width: 10rem;
  margin: auto;
}

.content{
  flex: 1;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width:1000px) {
  .MyIcon{
    width: 20%;
  }
  .container{
    flex-direction: column;
  }
  .contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .LanguageIcon{
    display: block;
    width: 6rem;
    margin: auto;
  }
}

@media (min-width:1001px) {
  body{
    max-width: 70%;
    margin: auto;
  }
  
  .MyIcon{
    width: 224px;
  }
  
  .name{
    font-size: 72px;
  }
  
  .subtitle{
    font-size: 55px;
  }
  
  p{
    font-size: 20px;
  }

  .contactContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul{
    margin: auto;
    width: 20em;
  }
}
/*

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
*/